.container {
  /* display: flex; */
  /* height: 100vh; */
  width: 100%;
  padding: 60px 0;

  background: rgba(42, 236, 139, 0.699);
  background: linear-gradient(
    49deg,
    rgba(201, 189, 20, 0.774) 11%,
    rgba(84, 209, 26, 0.541) 52%,
    rgba(3, 80, 105, 0.425) 75%
  );

  /* @media (max-width: 767.98px) {
    height: auto;
  } */
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px 0; */
}

.bg-image {
  /* width: 100%;
  height: 100%; */
  /* width: 57%; */
  width: 100%;
  /* min-height: 56vh;
   */
  height: 500px;
  position: relative;
}

.icon1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
.img-icon1,
.img-icon2,
.img-icon3 {
  width: 30px;

  /* @media (max-width: 991.98px) {
    width: 30px;
  } */
}

.icon2 {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(50%, -50%);
}
.icon3 {
  position: absolute;
  top: 44%;
  left: 44%;
  transform: translate(50%, -50%);
}
